<md-toolbar color="primary">
    <span>{{ (settings | async)?.title }}</span>
</md-toolbar>

<md-tab-group>
    <md-tab *ngFor="let page of pages | async">
        <template md-tab-label>{{ page.title }}</template>
        <template md-tab-content>
            <md-card>{{ page.content }}</md-card>
            <md-card *ngFor="let card of page.cards | objects2arrays">
                <md-card-header *ngIf="card.title">
                    <img *ngIf="card.avatar" md-card-avatar src="{{ card.avatar }}">
                    <md-card-title>{{ card.title }}</md-card-title>
                </md-card-header>
                <img *ngIf="card.image" md-card-image src="{{ card.image }}">
                <md-card-content>
                    <p>{{ card.content }}</p>
                </md-card-content>
            </md-card>
        </template>
    </md-tab>
</md-tab-group>

<md-toolbar color="accent">
    <span>Mail me:</span>
    <span class="example-fill-remaining-space"></span>
    <span>{{ (settings | async)?.email }}</span>
</md-toolbar>
