<div id="message">
    <md-toolbar color="primary">
        <span>{{ (settings | async)?.title }}</span>
    </md-toolbar>

    <md-tab-group>
        <md-tab *ngFor="let page of pages | async">
            <template md-tab-label>{{ page.title }}</template>
            <template md-tab-content>
                <p>{{ page.content }}</p>
            </template>
        </md-tab>
    </md-tab-group>

    <md-toolbar color="accent">
        <span>Mail me:</span>
        <span class="example-fill-remaining-space"></span>
        <span>{{ (settings | async)?.email }}</span>
    </md-toolbar>
</div>
